<div class='card-header d-flex justify-content-between'>
  Mushrooms
  <%= link_to "new", new_mushroom_path, class: " btn btn-primary btn-sm" %>
</div>




<% @mushrooms.each do |mushroom| %>
<div class="card-container">
  <div class="card">
    <div class="card-content">
      <h4><%= mushroom.name %></h4>
    </div>
    <div class="card-footer">
      put some code
    </div>
    <div class="card-each">
      <ul>
        <li class="chore-name">put some code</li>
        <li>Dear: <span class="color-tone-up">put some code</li>
        <li> put some code</li>
        <li><%= link_to 'Show', mushroom, class: " btn btn-primary btn-sm" %></li>
        <li><%= link_to 'Edit', edit_mushroom_path(mushroom), class: " btn btn-primary btn-sm" %></li>
        <li><%= link_to 'Destroy', mushroom, method: :delete, data: { confirm: 'Are you sure?' }, class: " btn btn-primary btn-sm" %></li>
      </ul>
    </div>
  </div>
  <% end %>
</div>




