

<div class="header">
  <h5 class=" m-1 text-small"> Mushroom: <%= @mushroom.name %></h5>
  <h6 class=" m-1 text-small text-muted">Created <%= time_ago_in_words(@mushroom.created_at) %> ago</h6>
</div>
<div class="infotabs">
  <article class="tabs">

      <input class="infobar" checked id="one" name="tabs" type="radio">
        <label class="infolabel" for="one">Description</label>

        <input class="infobar" id="two" name="tabs" type="radio" value="Two">
        <label class="infolabel" for="two">Origin</label>

        <input class="infobar" id="three" name="tabs" type="radio">
        <label class="infolabel" for="three">Use</label>

        <input class="infobar" id="four" name="tabs" type="radio">
        <label class="infolabel" for="four">Options</label>

        <div class="panels">

          <div class="panel">
            <h2>something</h2>

          </div>

          <div class="panel">
            <h2>something</h2>
            <p>something of mushroom</p>
            <p>more text</p>
          </div>

          <div class="panel">
            <h2>something</h2>
            <p>Nam sodales, mi eu</p>

            <p>Lorem . Sed vel felis velit. Nullam et turpis sed dui auctor vehicula quis a dui.</p>

            <p>Aliquam vitae leo et </p>
          </div>

          <div class="panel">
            <h2>Options</h2>
            <div>
              <%= link_to 'Edit', edit_mushroom_path(@mushroom), class: " btn btn-secondary btn-sm"%>
              <%= link_to 'Destroy', @mushroom, method: :delete, data: { confirm: 'Are you sure?' }, class: " btn btn-secondary btn-sm"%>
              <%= link_to 'Back', mushrooms_path, class: " btn btn-secondary btn-sm"%>
            </div>

            <p>Aliquam vitae leo et sapien </p>
          </div>

      </div>
  </article>
</div>


</div>
<div class="right-bar">
  <div class="top-part">
    <p>Something</p>
    <div class="count">
    <p>Something</p>
    </div>
  </div>
  <div class="header">
    <h4>Something</h4>
  </div>
  <div class="right-content">
    <p>Something</p>
  </div>
  <div class="logbook">
    <p> something </p>
  </div>
</div>
