


<div class="container">
  <div class="projects-section-header">
    <p>Petri dishes</p>
  </div>
  <div class="projects-section-line">
    <div class="projects-status">
      <div class="item-status">
        <span class="status-number"><%=PetriDish.where(archived: nil).count%></span>
        <span class="status-type">In Progress</span>
      </div>
      <div class="item-status">
        <span class="status-number"><%=PetriDish.where(archived: true).count%></span>
        <span class="status-type">Archived</span>
      </div>
      <div class="item-status">
        <span class="status-number"><%=PetriDish.count%></span>
        <span class="status-type">Total</span>
      </div>
    </div>
    <%= link_to "new", new_petri_dish_path, class: "add-btn" %>
  </div>
  <div class="index-cards">
    <% @petri_dishes.where(archived: nil).each do |petri_dish| %>
        <div class="project-box-wrapper">
            <div class="project-box" style="background-color: #DEC0B3;">
              <div class="project-box-header">
                <div class="more-wrapper">
              </div>
          </div>
          <div class="project-box-content-header">
            <p class="box-content-header"><%= link_to petri_dish.name, petri_dish, class:"box-content-header" %> <%= petri_dish.serial_number %></p>
          <div class="box-progress-wrapper">
            <p class="box-progress-header">Progress</p>
            <div class="box-progress-bar">
              <span class="box-progress" style="width:0<%= petri_dish.percent_complete%>%; background-color: #BA7D7D"></span>
            </div>
            <p class="box-progress-percentage"><%= petri_dish.percent_complete%>%</p>
          </div>
            <p class="box-content-subheader">Mushroom: <%= petri_dish.mushroom.name %></p>
            <p class="box-content-subheader">Inoculated on
            <% if petri_dish.inoculated %>
                <span><%= petri_dish.inoculated_at.strftime("%b %d, %Y") %> </span>
              <% end %></p>
            <p class="box-content-subheader">Run started on
              <% if petri_dish.run_started %>
                <span><%= petri_dish.run_started_at.strftime("%b %d, %Y") %> </span>
              <% end %></p>
            <p class="box-content-subheader">Colonised on
              <% if petri_dish.fully_colonized %>
                <span><%= petri_dish.fully_colonized_at.strftime("%b %d, %Y") %> </span>
              <% end %></p>
          </div>
          <div class="project-box-footer">

            <div class="participants">
              <button>
                <%= link_to '#', data: { reflex: 'click->PetriDish#cloned', id: petri_dish.id } do %>
                  <small>clone</small>
                <% end %>
              </button>


              <button>
                <%= link_to '#', data: { reflex: 'click->PetriDish#mark_inoculated', id: petri_dish.id } do %>
                  <small>inoculaded</small>
                <% end %>
              </button>


              <button>
                <%= link_to '#', data: { reflex: 'click->PetriDish#mark_started', id: petri_dish.id } , class: "btn-txt" do %>
                  <small>running</small>
                <% end %>
              </button>


              <button >
                <%= link_to '#', data: { reflex: 'click->PetriDish#mark_fully_colonized', id: petri_dish.id } do %>
                  <small>colonised</small>
                <% end %>
              </button>
            </div>

          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
