<p id="notice"><%= notice %></p>

<h1>Petri Dishes</h1>

<table>
<%= link_to 'New Petri Dish', new_petri_dish_path %>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mushroom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @petri_dishes.each do |petri_dish| %>
      <tr>
        <td><%= petri_dish.name %></td>

        <td><%= petri_dish.mushroom.name %></td>
        <td>Created <%= time_ago_in_words(petri_dish.created_at) %> ago</td>
        <td><%= link_to 'Show', petri_dish %></td>
        <td><%= link_to 'Edit', edit_petri_dish_path(petri_dish) %></td>
        <td><%= link_to 'Destroy', petri_dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

