

<div class="header">
  <h5 class=" m-1 text-small"><%= @petri_dish.name %> <%= @petri_dish.serial_number %></h5>
  <h6 class=" m-1 text-small text-muted">From <%= @petri_dish.mushroom.name %> mushroom</h6>
  <h6 class=" m-1 text-small text-muted">Created on <%= @petri_dish.created_at.strftime("%b %d, %Y") %></h6>

    <div class="progress m-1 "style="height: 3px;">
      <div class="progress-bar bg-info" role="progressbar" style="width: <%= @petri_dish.percent_complete%>%" aria-valuenow="<%= @petri_dish.percent_complete %>" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  <div>

  </div>
  <div class="mid-content ">
    <%= link_to 'Edit', edit_petri_dish_path(@petri_dish), class: " btn btn-secondary btn-sm"%>
    <%= link_to 'Destroy', @petri_dish, method: :delete, data: { confirm: 'Are you sure?' }, class: " btn btn-secondary btn-sm" %>
    <%= link_to 'Back', petri_dishes_path, class: " btn btn-secondary btn-sm"%>
  </div>
  <div>
    <% if @petri_dish.inoculated? %>
      <%= link_to '#', class: 'btn btn-secondary m-1', data: { reflex: 'click->PetriDish#mark_not_inoculated', id: @petri_dish.id } do %>
      <i class=>yes</i>
      <% end %>
    <% else %>
      <%= link_to '#', class: 'btn btn-secondary m-1', data: { reflex: 'click->PetriDish#mark_inoculated', id: @petri_dish.id } do %>
      <i class=>no</i>
      <% end %>
    <% end %>
    <small class=" m-1 text-small text-muted">Inoculated <% if @petri_dish.inoculated? %>
      <%= time_ago_in_words @petri_dish.inoculated_at %> ago
        (<%= @petri_dish.inoculated_at.strftime("%b %d, %Y") %>)
      <%end%>
    </small>
  </div>
  <div>
    <% if @petri_dish.run_started? %>
      <%= link_to '#', class: 'btn btn-secondary m-1', data: { reflex: 'click->PetriDish#mark_not_started', id: @petri_dish.id } do %>
      <i class=>yes</i>
      <% end %>
    <% else %>
      <%= link_to '#', class: 'btn btn-secondary m-1', data: { reflex: 'click->PetriDish#mark_started', id: @petri_dish.id } do %>
      <i class=>no</i>
      <% end %>
    <% end %>
    <small class=" m-1 text-small text-muted">Run started
    <% if @petri_dish.run_started? %>
      <%= time_ago_in_words @petri_dish.run_started_at %> ago
        (<%= @petri_dish.run_started_at.strftime("%b %d, %Y") %>)
    <%end%>
    </small>
  </div>
  <div>
    <% if @petri_dish.fully_colonized? %>
      <%= link_to '#', class: 'btn btn-secondary m-1', data: { reflex: 'click->PetriDish#mark_not_fully_colonized', id: @petri_dish.id } do %>
      <i class=>yes</i>
      <% end %>
    <% else %>
      <%= link_to '#', class: 'btn btn-secondary m-1', data: { reflex: 'click->PetriDish#mark_fully_colonized', id: @petri_dish.id } do %>
      <i class=>no</i>
      <% end %>
    <% end %>
        <small class=" m-1 text-small text-muted">Fully colonized
      <% if @petri_dish.fully_colonized? %>
        <%= time_ago_in_words @petri_dish.fully_colonized_at %> ago
          (<%= @petri_dish.fully_colonized_at.strftime("%b %d, %Y") %>)
      <%end%>
    </small>
  </div>
  <div>
    <% if @petri_dish.fully_colonized? %>
      <% unless @petri_dish.archived? %>
        <%= link_to '#', class: 'btn btn-secondary m-1', data: { reflex: 'click->PetriDish#archive', id: @petri_dish.id } do %>
        <i class=>archive</i>
        <% end %>
      <% end %>
      <% if @petri_dish.archived? %>
        <%= link_to '#', class: 'btn btn-secondary m-1', data: { reflex: 'click->PetriDish#unarchive', id: @petri_dish.id } do %>
        <i class=>unarchive</i>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="infotabs">
  <article class="tabs">

      <input class="infobar" checked id="one" name="tabs" type="radio">
        <label class="infolabel" for="one">Description</label>

        <input class="infobar" id="two" name="tabs" type="radio" value="Two">
        <label class="infolabel" for="two">Protocol</label>

        <input class="infobar" id="three" name="tabs" type="radio">
        <label class="infolabel" for="three">Agar recipe</label>

        <input class="infobar" id="four" name="tabs" type="radio">
        <label class="infolabel" for="four">Statistics</label>

        <div class="panels">

          <div class="panel">
            <p><%= @petri_dish.description %></p>
            <p>Sampled from <%= @petri_dish.sample %></p>
          </div>

          <div class="panel">
            <p><%= @petri_dish.protocol %></p>
          </div>

          <div class="panel">
            <p><%= @petri_dish.agar_recipe.name %></p>
          </div>

          <div class="panel">
            <% if @petri_dish.inoculated & @petri_dish.run_started%>
              <p>It took <%=TimeDifference.between(@petri_dish.inoculated_at, @petri_dish.run_started_at).in_days.round%>
              days for mycelium start running</p>
            <% else %>
              <p>no stats on the run</p>
            <% end %>
            <% if @petri_dish.run_started & @petri_dish.fully_colonized %>
              <p>and <%=TimeDifference.between(@petri_dish.run_started_at, @petri_dish.fully_colonized_at).in_days.round%>
              days to colonise</p>
            <% else %>
              <p>and no stats on colonisation yet</p>
            <% end %>
          </div>
      </div>
  </article>
</div>


</div>
<div class="right-bar">
  <div class="header">
    <p>Logbook</p>
  </div>
  <div class="right-content">
    <%= render(partial: 'logs/log', collection: @petri_dish.logs.sort.reverse) %>
  </div>
  <div class="logbook">
    <div class="">
      <%= form_for [@petri_dish, Log.new] do |f| %>
        <div class="input-group">
          <%= f.text_area :body, placeholder: "Add a log entry", class: "input-text", rows: 1 %>
          <div>
            <%= f.submit "Add", class:"addlogbtn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

