
<div class="card-container">
  <div class="card">
    <div class="card-content">
      <h4><%= @petri_dish.name %></h4>
      <h6>From mushroom: <%= @petri_dish.mushroom.name %></h6>
      <small class="card-text m-1 text-small text-muted">Created <%= time_ago_in_words(@petri_dish.created_at) %> ago</small>
    </div>
    <div class="card-footer">
      <%# If buttons logic  %>
      <%= render(partial: 'progress') %>
    </div>

    <div class="card-each">
      <ul>
        <li><span class="color-tone-up">
          <%= form_for [@petri_dish, Log.new] do |f| %>
          <div class="input-group mb-4">
            <%= f.text_area :body, placeholder: "Add a log entry", class: "form-control", rows: 1 %>
            <div class="actions">
              <%= f.submit "Add", class:"btn btn-primary input-group-btn" %>
            </div>
          </div>
          <% end %>
        </li>
        <li class="chore-name"><%= render(partial: 'logs/log', collection: @petri_dish.logs.sort.reverse) %></li>
        <li> put some code</li>
        <%= link_to 'Edit', edit_petri_dish_path(@petri_dish), class: " btn btn-primary btn-sm"%>
        <%= link_to 'Destroy', @petri_dish, method: :delete, data: { confirm: 'Are you sure?' }, class: " btn btn-primary btn-sm"%>
        <%= link_to 'Back', petri_dishes_path, class: " btn btn-primary btn-sm"%>
      </ul>
    </div>
  </div>

</div>
