

<div class="header">
  <h5 class=" m-1 text-small"> Petri dish name: <%= @petri_dish.name %></h5>
  <h6 class=" m-1 text-small text-muted">From <%= @petri_dish.mushroom.name %> mushroom</h6>
  <h6 class=" m-1 text-small text-muted">Created <%= time_ago_in_words(@petri_dish.created_at) %> ago</h6>
  <div>

  </div>
  <div>
    <%= link_to 'Edit', edit_petri_dish_path(@petri_dish), class: " btn btn-secondary btn-sm"%>
    <%= link_to 'Destroy', @petri_dish, method: :delete, data: { confirm: 'Are you sure?' }, class: " btn btn-secondary btn-sm" %>
    <%= link_to 'Back', petri_dishes_path, class: " btn btn-secondary btn-sm"%>
  </div>
  <div>
    <% if @petri_dish.inoculated? %>
      <%= link_to '#', class: 'btn btn-secondary', data: { reflex: 'click->PetriDish#mark_not_inoculated', id: @petri_dish.id } do %>
      <i class=>yes</i>
      <% end %>
    <% else %>
      <%= link_to '#', class: 'btn btn-secondary', data: { reflex: 'click->PetriDish#mark_inoculated', id: @petri_dish.id } do %>
      <i class=>no</i>
      <% end %>
    <% end %>
    <small class=" m-1 text-small text-muted">Inoculated <% if @petri_dish.inoculated? %>
      <%= time_ago_in_words @petri_dish.inoculated_at %> ago
      <%end%>
    </small>
  </div>
  <div>
    <% if @petri_dish.run_started? %>
      <%= link_to '#', class: 'btn btn-secondary', data: { reflex: 'click->PetriDish#mark_not_started', id: @petri_dish.id } do %>
      <i class=>yes</i>
      <% end %>
    <% else %>
      <%= link_to '#', class: 'btn btn-secondary', data: { reflex: 'click->PetriDish#mark_started', id: @petri_dish.id } do %>
      <i class=>no</i>
      <% end %>
    <% end %>
    <small class=" m-1 text-small text-muted">Run started
    <% if @petri_dish.run_started? %>
      <%= time_ago_in_words @petri_dish.run_started_at %> ago
    <%end%>
    </small>
  </div>
  <div>
    <% if @petri_dish.fully_colonized? %>
      <%= link_to '#', class: 'btn btn-secondary', data: { reflex: 'click->PetriDish#mark_not_fully_colonized', id: @petri_dish.id } do %>
      <i class=>yes</i>
      <% end %>
    <% else %>
      <%= link_to '#', class: 'btn btn-secondary', data: { reflex: 'click->PetriDish#mark_fully_colonized', id: @petri_dish.id } do %>
      <i class=>no</i>
      <% end %>
    <% end %>
        <small class=" m-1 text-small text-muted">Fully colonized
      <% if @petri_dish.fully_colonized? %>
        <%= time_ago_in_words @petri_dish.fully_colonized_at %> ago
      <%end%>
    </small>
  </div>
</div>
<div class="infotabs">
  <article class="tabs">

      <input class="infobar" checked id="one" name="tabs" type="radio">
        <label class="infolabel" for="one">Description</label>

        <input class="infobar" id="two" name="tabs" type="radio" value="Two">
        <label class="infolabel" for="two">Protocol</label>

        <input class="infobar" id="three" name="tabs" type="radio">
        <label class="infolabel" for="three">Agar recipe</label>

        <input class="infobar" id="four" name="tabs" type="radio">
        <label class="infolabel" for="four">Options</label>

        <div class="panels">

          <div class="panel">
            <p><%= @petri_dish.description %></p>
          </div>

          <div class="panel">
            <p><%= @petri_dish.protocol %></p>
          </div>

          <div class="panel">
            <p>Agar recipe used: <%= @petri_dish.agar_recipe.name %></p>
          </div>

          <div class="panel">
            <p>Aliquam vitae leo et sapien </p>
          </div>
      </div>
  </article>
</div>


</div>
<div class="right-bar">
  <div class="top-part">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
      class="feather feather-users">
      <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
      <circle cx="9" cy="7" r="4" />
      <path d="M23 21v-2a4 4 0 0 0-3-3.87" />
      <path d="M16 3.13a4 4 0 0 1 0 7.75" /></svg>
    <div class="count">6</div>
  </div>
  <div class="header">
    <h4>Logbook</h4>
  </div>
  <div class="right-content">
    <%= render(partial: 'logs/log', collection: @petri_dish.logs.sort.reverse) %>
  </div>
  <div class="logbook">
    <div class="">
      <%= form_for [@petri_dish, Log.new] do |f| %>
        <div class="input-group">
          <%= f.text_area :body, placeholder: "Add a log entry", class: "input-text", rows: 1 %>
          <div class="input-group">
            <%= f.submit "Add", class:"btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

